body {
    background-color: #BDD7D6;
}
.container {
    background-color: #516365;
    padding: 25px;
    margin: 30px;
    color: white;
}
.row{
    text-align: center;
    border-color: #BDD7D6;
    padding-top: 20px;
    padding-bottom: 20px;
    float: center;
}
.float-left {
    margin: 10px;
}
.footer {
    background-color: #516365;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

}