body {
    background-color: #BDD7D6;
    position: absolute;
    width: 100%;
}
.container{
    position: relative;
    background-color: #516365;
    width: 100%;
    padding: 10px;
    margin:30px;
    color: white;
}
.row{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    float: center;
}
img {
    position: relative;
    float: center;
  }
.float-left {
    margin: 10px;
}
.footer {
    background-color: #516365;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

}
.btn {
    background-color: white;
    color: #516365;
    font-weight: bold;
    border-color: #BDD7D6;
    border-radius: 5px;
    border-width: 5px;
}
.btn:hover {
    background-color: #EE6B61;
    border-color: #BDD7D6;
}